<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="../../static/css/create.css"/>
</head>

  <body>
    <!--<form method="POST" action="{% url 'create' }">-->
    <form method="POST" action="/imgate/create/">
      {% csrf_token %}
      <label>ユーザーID</label>
      {{ form.username }}
      {{ form.username.errors }}
      <label>パスワード</label>
      {{ form.password1 }}
      {{ form.password1.errors }}
      <label>パスワード(確認)</label>
      {{ form.password2 }}
      {{ form.password2.errors }}
      <button class="btn-gradient-radius" type = "submit">登録</button>
    </form>
  </body>
</html>