<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="../../static/css/index.css"/>
</head>
    <!--<form action="{%url 'imgate_login' }">-->
      <body>
        <div class="yeah">
        <!--<input type="button" onclick="location.href'/imgate/imgate_login'" value="ログイン>-->
        <!--<input type="button" onclick="location.href'/imgate/create'" value="新規登録>-->
        <a href="../imgate_login" class="btn-circle-fishy">ログイン</a>
        <br />
        <a href="../create" class="btn-circle-fishy">新規登録</a>
        </div>
      </body>
</html>